/* Custom CSS for [!CASE LAW] */

.blockquote-tag-case-law {
  border-inline-start-color: var(--blockquote-case-law-color);
}

.blockquote-tag-case-law > .blockquote-tag-title {
  color: var(--blockquote-case-law-color);
}

.fa-svg-callout svg {
    width: 1.5em;
    height: 1.5em;
    fill: currentColor;
    margin-bottom: -0.1em;
}

.blockquote-tag-title .fa-svg-callout {
    fill: currentColor;
    margin-right: 8px;
}
