/* Custom CSS for [!CASE LAW] */

:root {
  --blockquote-case-law-color: #8b5cf6; 
}

.blockquote-tag-case-law {
  border-inline-start-color: var(--blockquote-case-law-color);
}

.blockquote-tag-case-law > .blockquote-tag-title {
  color: var(--blockquote-case-law-color);
}
